<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a
                href="https://github.com/kar-tikverma"
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="fa-brands fa-github"></i>
            </a>
            <a
                href="https://linkedin.com/in/kar-tikverma"
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
        <div class="f-company">&copy; EstateLease Incorporation</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <span>·</span>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
