<nav class="navbar navbar-expand-md bg-body-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa-regular fa-compass"></i>
        </a>

        <button
            class="navbar-toggler border-0 mb-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fa-solid fa-user"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link d-none d-md-block" href="/listings">
                    Explore
                </a>
                <a class="nav-link d-none d-md-block" href="/listings/new">
                    Lease your Estate
                </a>
            </div>

            <div class="navbar-nav ms-auto d-none d-md-flex">
                <div class="nav-item dropdown">
                    <a
                        href="#"
                        class="nav-link dropdown-toggle"
                        id="profileDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="fa-solid fa-user fa-lg"></i>
                    </a>
                    <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="profileDropdown"
                    >
                        <% if (currUser) { %>
                        <li>
                            <a class="dropdown-item" href="/profile">
                                Manage Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        </li>
                        <% } else { %>
                        <li>
                            <a class="dropdown-item" href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/login">Log In</a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="navbar-nav d-md-none">
                <a class="nav-link" href="/listings">Explore</a>
                <a class="nav-link" href="/listings/new">Lease your Estate</a>
                <% if (currUser) { %>
                <a class="nav-link" href="/profile">Manage Profile</a>
                <a class="nav-link" href="/bookings">Bookings</a>
                <a class="nav-link" href="/logout">Log Out</a>
                <% } else { %>
                <a class="nav-link" href="/signup">Sign Up</a>
                <a class="nav-link" href="/login">Log In</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
