.nav-container {
    height: 5rem;
}

.navbar {
    margin-top: 1rem;
    background-color: #fff;
    padding: 0 2rem;
}

.navbar-brand {
    color: #ff385c;
}

.nav-link {
    color: #0f0f0fa6;
    padding: 0.8rem;
}