h2 {
    margin-bottom: 2rem;
}

textarea {
    height: 8rem;
}

.form-btn {
    background-color: #ff385c;
    color: #fff;
}

.form-btn:hover {
    background-color: #cd1f3f;
    color: #fff;
}