<% layout("/layouts/boilerplate.ejs") %>

<head>
    <link rel="stylesheet" href="/css/profile.css" />
</head>

<body>
    <% if (rentals.length == 0) { %>
    <div>No Rentals</div>
    <% } else { %>
    <div>history</div>
    <% } %>
</body>
