<% layout("/layouts/boilerplate.ejs") %>

<head>
    <link rel="stylesheet" href="/css/button.css" />
    <style>
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }

        .form-div {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    </style>
</head>

<body>
    <form action="/users/rentals/<%= rental._id %>/edit-time" method="POST">
        <div class="form-div">
            <div class="date-div">
                <label for="date">Start Date:</label>
                <input
                    type="date"
                    id="date"
                    name="date"
                    value="<%= rental.startDate.toISOString().split('T')[0] %>"
                    disabled
                />
            </div>

            <div class="time-div">
                <label for="time">Check-in time:</label>
                <select id="time" name="time" required>
                    <option value="" disabled selected>Select a time</option>
                    <option value="10:00 AM to 12:00 PM">
                        10:00 AM to 12:00 PM
                    </option>
                    <option value="12:00 PM to 2:00 PM">
                        12:00 PM to 2:00 PM
                    </option>
                    <option value="2:00 PM to 4:00 PM">
                        2:00 PM to 4:00 PM
                    </option>
                    <option value="4:00 PM to 6:00 PM">
                        4:00 PM to 6:00 PM
                    </option>
                    <option value="6:00 PM to 8:00 PM">
                        6:00 PM to 8:00 PM
                    </option>
                </select>
            </div>
        </div>

        <button class="btn">Submit</button>
    </form>
</body>
